body, input, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #424a50;
  font-family: -apple-system, '.SFNSText-Light', '.SFNSDisplay-Regular', 'Helvetica Neue', sans-serif;
  /*font-family: 'Roboto', sans-serif;*/
  font-size: 14px;
  font-weight: 400;
}
body {
  background-color: #f0f0f0;
  margin: 0;
  transition: background-color .3s;
}
a {
  text-decoration: none;
  color: rgba(0,136,204,.5);
  transition: color .3s;
}
a:hover {
  color: rgba(0,136,204,1);
  text-decoration: underline;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* Common */
column, row {
  display: flex;
  flex: 1;
}
column {
  flex-direction: column;
}
row {
  align-items: flex-start;
  flex-direction: row;
}
cell {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 32px;
  justify-content: flex-end;
  margin: 0 12px 0 16px;
}
  cell > c-input {
    display: flex;
    flex: 6;
  }
    cell > c-input > input {
      background-color: #f9f9f9;
      border: 1px solid rgba(0,0,0,.04);
      border-radius: 4px;
      color: #0088cc;
      font-weight: 700;
      margin: 0;
      outline: none;
      padding: 4px;
      text-align: right;
      transition: border .3s, box-shadow .3s;
      width: 100%;
    }
      cell > c-input > input.slave {
        color: rgba(0,0,0,.5);
        font-weight: 400;
      }
      cell > c-input > input:hover,
      cell > c-input > input:focus {
        border: 1px solid rgba(0,0,0,.3);
      }
    cell > c-input > input[type='checkbox'] {
      margin: 0;
      width: auto;
    }
    cell > c-input > input:disabled {
      background-color: transparent;
      border: 1px solid rgba(0,0,0,0);
      color: rgba(0,0,0,.5);
      font-weight: inherit;
      -webkit-text-fill-color: rgba(0,0,0,.5);
    }
      cell > c-input > input:disabled:hover {
        border: 1px solid rgba(0,0,0,0);
      }
  cell > c-name {
    align-items: center;
    color: rgba(0,0,0,.5);
    display: flex;
    flex: 12;
    font-size: 14px;
  }
table {
  margin-top: 48px;
}
tbody > tr {
  color: rgba(0,0,0,.6);
}
tbody > tr:nth-of-type(odd) {
  background-color: rgba(0,0,0,.04);
  color: rgba(0,0,0,.8);
}
tbody > tr:hover, tbody > tr:nth-of-type(odd):hover {
  background-color: rgba(0,0,0,.08);
  color: rgb(0,0,0);
  background-color: rgba(0,0,0,.8);
  color: rgb(255,255,255);
}
th, td {
  font-size: 13px;
  padding: 4px 0;
  text-align: center;
  width: 5%;
}
th {
  color: rgba(0,0,0,.3);
  padding-bottom: 8px;
  vertical-align: bottom;
}
.btn-open {
  background: transparent url("data:image/svg+xml,%3Csvg width='18px' height='14px' viewBox='15 17 18 14' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpath d='M15,29 L33,29 L33,31 L15,31 L15,29 Z M15,23 L33,23 L33,25 L15,25 L15,23 Z M15,17 L33,17 L33,19 L15,19 L15,17 Z' fill='%23000000'%3E%3C/path%3E%3C/svg%3E") center no-repeat;
  cursor: pointer;
  height: 48px;
  left: 0;
  opacity: .3;
  position: fixed;
  top: 0;
  transition: opacity .3s;
  width: 48px;
}
  .btn-open:hover {
    opacity: 1;
  }
.button {
  background-color: rgba(255,255,255,1);
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1);
  color: rgb(0,136,204);
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 16px;
  text-transform: uppercase;
  transition: background-color .3s, box-shadow .3s, color .3s;
}
  .button:hover {
    background-color: #fff;
    box-shadow: 0 3px 12px rgba(0,0,0,.15);
    /*color: rgb(255,255,255)*/
  }
.date {
  background-color: transparent;
  border: 1px solid rgba(0,0,0,.08);
  border-radius: 4px;
}
.date:hover {
  border: 1px solid rgba(0,0,0,.3);
}
  .date > select {
    background-color: #f9f9f9;
    border: none;
    color: #0088cc;
    cursor: pointer;
    flex: 1;
    font-weight: 700;
    margin: 0;
    outline: none;
    padding: 4px;
    text-align-last: center;
    transition: opacity .3s;
    transition: color .3s;
    -webkit-appearance: none;
  }
  .date > select:first-child {
    border-radius: 4px 0 0 4px;
    padding-right: 0;
  }
  .date > select:last-child {
    border-radius: 0 4px 4px 0;
    padding-left: 0;
  }
  .date:hover > select {
    color: rgba(0,0,0,.2);
    /*opacity: .2;*/
  }
  .date:hover > select:hover {
    color: #0088cc;
    /*opacity: 1;*/
  }
.legal {
  bottom: 0;
  padding: 0 8px 8px 0;
  position: fixed;
  right: 0;
}
  .legal > a {
    color: rgba(66,74,80,.4);
    text-decoration: none;
  }
  .legal > a:hover {
    color: rgba(66,74,80,.8);
  }
.menu {
  background-color: #fff;
  bottom: 0;
  box-shadow: 1px 0 0 rgba(0,0,0,.1);
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  transition: box-shadow .3s, left .3s, width .3s;
  width: 360px;
  z-index: 10;
  -webkit-overflow-scrolling: touch;
}
body.menu-closed > .menu {
  left: -360px;
}
  .menu > .header {
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,.1);
    display: flex;
    height: 48px;
    position: fixed;
    transition: inherit;
    width: 360px;
  }
    .menu > .header > .title {
      color: rgba(0,0,0,.5);
      flex: 1;
      font-size: 12px;
      font-weight: 700;
      padding: 10px;
      padding: 24px 16px 16px 16px;
    }
    .menu > .header > .btn-close {
      background: transparent url("data:image/svg+xml,%3Csvg width='16px' height='16px' viewBox='16 16 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpath d='M25.121,23.707 L31.414,17.414 L30,16 L23.707,22.293 L17.414,16 L16,17.414 L22.293,23.707 L16,30 L17.414,31.414 L23.707,25.121 L30,31.414 L31.414,30 L25.121,23.707 Z' fill='%23000000'%3E%3C/path%3E%3C/svg%3E") center no-repeat;
      cursor: pointer;
      /*float: right;*/
      height: 48px;
      opacity: .3;
      transition: opacity .3s;
      width: 48px;
    }
    .menu > .header > .btn-close:hover {
      opacity: 1;
    }
  .menu > column:first-of-type {
    margin-top: 64px;
  }
.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 360px;
  min-height: 100vh;
  transition: margin-left .3s;
}
  body.menu-closed > .main {
    margin-left: 0;
  }
  .main > .tint {
    background-color: rgba(0,0,0,.3);
    display: none;
    height: 100vh;
    position: fixed;
    width: 100vw;
    z-index: 9;
  }
  .main > .locations {
    display: flex;
    /*flex: 1;*/
    margin: 16vh auto 8vh;
    max-width: 680px;
    text-align: center;
    transition: margin .3s;
    overflow: auto;
    max-width: 95vw;
  }
    .main > .locations > li {
      align-items: center;
      cursor: pointer;
      display: flex;
      flex: 1;
      flex-direction: column;
      min-width: 96px;
    }
      .main > .locations > li > .avatar {
        background: #fff center/cover no-repeat;
        border-radius: 40px;
        box-shadow: inset 0 0 0 2px rgba(0,0,0,.1);
        -webkit-filter: brightness(100%) contrast(90%) opacity(20%) saturate(20%);
        filter: brightness(100%) contrast(90%) opacity(20%) saturate(20%);
        height: 72px;
        position: relative;
        transition: filter .3s;
        width: 72px;
        }
            .main > .locations > li > .avatar.custom { background-image: url(../img/custom.png); }
            .main > .locations > li > .avatar.atlanta { background-image: url(../img/atlanta.png); }
            .main > .locations > li > .avatar.chicago { background-image: url(../img/chicago.png); }
            .main > .locations > li > .avatar.san-francisco { background-image: url(../img/san-francisco.png); }
            .main > .locations > li > .avatar.seattle { background-image: url(../img/seattle.png); }
            .main > .locations > li > .avatar.more { background-image: url(../img/more.png); }
          .main > .locations > li:hover > .avatar {
            box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
            -webkit-filter: brightness(100%) contrast(95%) opacity(60%) saturate(60%);
            filter: brightness(100%) contrast(95%) opacity(60%) saturate(60%);
          }
          .main > .locations > li.selected > .avatar,
          .main > .locations > li.selected:hover > .avatar {
            box-shadow: 0 3px 12px rgba(0,0,0,.15);
            -webkit-filter: none;
            filter: none;
          }
      .main > .locations > li > .label {
        color: rgba(66,74,80,.3);
        margin-top: 8px;
        transition: color .3s;
      }
        .main > .locations > li.selected > .label,
        .main > .locations > li:hover > .label {
          color: rgb(66,74,80);
        }
  .main > .insight {
    flex: 1;
    font-size: 28px;
    line-height: 38px;
    margin: 0 16px;
    max-width: 664px;
    text-align: center;
    transition: margin .3s;
  }
    .main > .insight > i-input {
      color: #0088cc;
      font-weight: 700;
      white-space: nowrap;
    }
      .main > .insight > i-input.disabled {
        color: inherit;
        -webkit-text-fill-color: #424a50;
      }
      .main > .insight input {
        background-color: transparent;
        border: none;
        color: #0088cc;
        font-size: inherit;
        font-weight: 700;
        outline: none;
        width: 0;
      }
      .main > .insight input:disabled {
        color: inherit;
        -webkit-text-fill-color: #424a50;
      }
    .main > .insight > .details {
      margin-top: 16px;
    }
  .main > .visualization {
    display: none;
    margin: 0 auto;
    max-width: 664px;
  }
  .main > .checkboxes {
    display: none;
    margin: 20px auto auto;
    max-width: 664px;
  }
    .main > .checkboxes > cell {
      justify-content: flex-start;
      visibility: hidden;
    }

.sparkline {
  margin: 50px auto 0;
  position: relative;
}
.sparkline_dates {
  border-top: 1px solid rgba(0,0,0,.1);
  padding-top: 10px;
}
  .sparkline_dates > div {
    flex: 1;
    font-size: 11px;
    text-align: center;
  }
.tooltip {
  background-color: rgba(255,255,255,.7);
  color: #000;
  padding: 10px;
  position: absolute;
}
.tooltip > .jqsfield {
  color: inherit;
  font-size: 14px;
}

/* Mid width */
@media only screen
and (max-width : 1023px) {
/*and (max-width : 1159px) {*/
/*and (max-width : 1479px) {*/
  .main > .insight {
    max-width: 500px;
  }
  .main > .visualization {
    max-width: 500px;
  }
  .main > .checkboxes {
    max-width: 500px;
  }
}

/* Mid-small width */
@media only screen
and (max-width : 859px) {
  body.menu-open {
    overflow: hidden;
  }
  .main {
    margin-left: auto;
  }
    .main > .locations > li {
      min-width: 90px;
    }
      .main > .locations > li > .avatar {
        height: 64px;
        width: 64px;
      }
      .main > .locations > li > .label {
        font-size: 12px;
      }
    .main > .insight {
      /*margin-top: 40px;*/
    }
    body.menu-open > .main > .tint {
      display: block;
    }
  .menu {
    box-shadow: none;
  }
    body.menu-open .menu {
      box-shadow: 0 0 20px rgba(0,0,0,.2);
    }
}

/* Small width (phones) */
@media only screen
and (max-width : 479px) {
  cell {
    border-bottom: 1px solid rgba(0,0,0,.1);
    height: 48px;
    margin: 0;
    padding: 0 0 0 16px;
  }
    cell > c-input {
      border-left: 1px solid rgba(0,0,0,.1);
      height: 100%;
    }
    cell > c-input > input,
    cell > c-input > input:hover,
    cell > c-input > input:focus,
    .date,
    .date:hover {
      border: 0;
      border-radius: 0;
    }
    .date,
    .date:hover {
      border-left: 1px solid rgba(0,0,0,.1);
    }
    cell > c-input > input,
    .date > select,
    .date > select:last-child {
      padding: 0 12px 0 0;
    }
  .main {
    margin-left: auto;
  }
    .main > .locations {
      margin-top: 48px;
    }
      .main > .locations > li {
        min-width: 56px;
      }
        .main > .locations > li > .avatar {
          height: 48px;
          width: 48px;
        }
        .main > .locations > li > .label {
          font-size: 11px;
        }
    .sparkline_dates > div {
      overflow: overlay;
    }
    .sparkline_dates > div:nth-of-type(even) {
      color: transparent;
    }
  .menu {
    width: 280px;
  }
    .menu > column:first-of-type {
      margin-top: 48px;
    }
    body.menu-closed > .menu {
      left: -100%;
    }
    .menu > .header {
      width: 280px;
    }
}
