body, input, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #424a50;
  font-family: -apple-system, '.SFNSText-Light', '.SFNSDisplay-Regular', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-weight: 400;
}
body {
  background-color: #f6f6f6;
  margin: 0;
  transition: background-color .3s;
}
a {
  text-decoration: none;
  color: rgba(0,136,204,.5);
  transition: color .3s;
}
a:hover {
  color: rgba(0,136,204,1);
  text-decoration: underline;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* Common */
table {
  margin-top: 48px;
}
tbody > tr {
  color: rgba(0,0,0,.6);
}
tbody > tr:nth-of-type(odd) {
  background-color: rgba(0,0,0,.04);
  color: rgba(0,0,0,.8);
}
tbody > tr:hover, tbody > tr:nth-of-type(odd):hover {
  background-color: rgba(0,0,0,.08);
  color: rgb(0,0,0);
  background-color: rgba(0,0,0,.8);
  color: rgb(255,255,255);
}
th, td {
  font-size: 13px;
  padding: 4px 0;
  text-align: center;
  width: 5%;
}
th {
  color: rgba(0,0,0,.3);
  padding-bottom: 8px;
  vertical-align: bottom;
}
.btn-open {
  background: transparent url("data:image/svg+xml,%3Csvg width='18px' height='14px' viewBox='15 17 18 14' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpath d='M15,29 L33,29 L33,31 L15,31 L15,29 Z M15,23 L33,23 L33,25 L15,25 L15,23 Z M15,17 L33,17 L33,19 L15,19 L15,17 Z' fill='%23000000'%3E%3C/path%3E%3C/svg%3E") center no-repeat;
  cursor: pointer;
  height: 48px;
  left: 0;
  opacity: .3;
  position: fixed;
  top: 0;
  transition: opacity .3s;
  width: 48px;
}
  .btn-open:hover {
    opacity: 1;
  }
.button {
  background-color: rgba(255,255,255,1);
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1);
  color: rgb(0,136,204);
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 16px;
  text-transform: uppercase;
  transition: background-color .3s, box-shadow .3s, color .3s;
}
  .button:hover {
    background-color: #fff;
    box-shadow: 0 3px 12px rgba(0,0,0,.15);
    /*color: rgb(255,255,255)*/
  }
.legal {
  bottom: 0;
  color: rgba(66,74,80,.4);
  font-size: 12px;
  padding: 0 8px 8px 0;
  position: fixed;
  right: 0;
}
  .legal > a {
    color: rgba(66,74,80,.4);
    text-decoration: none;
  }
  .legal > a:hover {
    color: rgba(66,74,80,.8);
  }

.menu {
  background-color: #fff;
  bottom: 0;
  box-shadow: 1px 0 0 rgba(0,0,0,.1);
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  transition: box-shadow .3s, left .3s, width .3s;
  width: 360px;
  z-index: 10;
  -webkit-overflow-scrolling: touch;
}
body.menu-closed > .menu {
  left: -360px;
}
  .menu > header {
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,.1);
    display: flex;
    flex: 1;
    flex-direction: row;
    height: 48px;
    position: fixed;
    transition: inherit;
    width: 360px;
  }
    .menu > header > .title {
      color: rgba(0,0,0,.5);
      flex: 1;
      font-size: 12px;
      font-weight: 700;
      padding: 10px;
      padding: 24px 16px 16px 16px;
    }
    .menu > header > .btn-close {
      background: transparent url("data:image/svg+xml,%3Csvg width='16px' height='16px' viewBox='16 16 16 16' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpath d='M25.121,23.707 L31.414,17.414 L30,16 L23.707,22.293 L17.414,16 L16,17.414 L22.293,23.707 L16,30 L17.414,31.414 L23.707,25.121 L30,31.414 L31.414,30 L25.121,23.707 Z' fill='%23000000'%3E%3C/path%3E%3C/svg%3E") center no-repeat;
      cursor: pointer;
      /*float: right;*/
      height: 48px;
      opacity: .3;
      transition: opacity .3s;
      width: 48px;
    }
    .menu > header > .btn-close:hover {
      opacity: 1;
    }
  .menu > ul {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
    .menu > ul:first-of-type {
      margin-top: 49px;
    }
      .menu > ul > li {
        align-items: center;
        border-bottom: 1px solid rgba(0,0,0,.08);
        display: flex;
        flex: 1;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        margin-left: 16px;
      }
        .menu > ul > li > .input {
          border-left: 1px solid rgba(0,0,0,.08);
          display: flex;
          flex: 6;
        }
        .menu > ul > li > .input.disabled {
          border-left: 1px solid rgba(0,0,0,0);
        }
        .menu > ul > li > .input.date > select {
          border: 0;
          border-radius: 0;
          color: #0088cc;
          cursor: pointer;
          flex: 1;
          font-weight: 700;
          margin: 0;
          outline: none;
          padding: 10px 12px;
          text-align-last: right;
          transition: color .3s, padding .3s;
          -webkit-appearance: none;
        }
        .menu > ul > li > .input.date > select:first-child {
          padding-right: 0;
        }
        .menu > ul > li > .input.date > select:last-child {
          padding-left: 0;
        }
        .menu > ul > li > .input.date:hover > select {
          color: rgba(0,0,0,.2);
        }
        .menu > ul > li > .input.date:hover > select:hover {
          color: #0088cc;
        }
          .menu > ul > li > .input > input {
            background-color: #f9f9f9;
            border: 0;
            color: #0088cc;
            font-weight: 700;
            margin: 0;
            outline: none;
            padding: 10px 12px;
            text-align: right;
            transition: border .3s, box-shadow .3s, padding .3s;
            width: 100%;
          }
            .menu > ul > li > .input > input.slave {
              color: rgba(0,0,0,.5);
              font-weight: 400;
            }
            .menu > ul > li > .input > input:hover,
            .menu > ul > li > .input > input:focus {
              background-color: #f3f3f3;
            }
          .menu > ul > li > .input > input[type='checkbox'] {
            margin: 0;
            width: auto;
          }
          .menu > ul > li > .input > input:disabled {
            background-color: transparent;
            border: 1px solid rgba(0,0,0,0);
            color: rgba(0,0,0,.5);
            font-weight: inherit;
            -webkit-text-fill-color: rgba(0,0,0,.5);
          }
            .menu > ul > li > .input > input:disabled:hover {
              border: 1px solid rgba(0,0,0,0);
            }
        .menu > ul > li > .label {
          align-items: center;
          color: rgba(0,0,0,.5);
          display: flex;
          flex: 12;
          font-size: 14px;
        }
          .menu > ul > li > .label.sub {
            color: rgba(0,0,0,.3);
            font-size: 13px;
            text-indent: 16px;
          }
            .menu > ul > li > .label.sub > span {
              text-indent: 0;
            }
.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-left: 360px;
  min-height: 100vh;
  transition: margin-left .3s;
}
  body.menu-closed > .main {
    margin-left: 0;
  }
  .main > .tint {
    background-color: rgba(0,0,0,.3);
    display: none;
    height: 100vh;
    position: fixed;
    width: 100vw;
    z-index: 9;
  }
  .main > h1 {
    font-family: 'Elsie', cursive;
    font-size: 24px;
    line-height: 52px;
  }
  .main > .locations {
    display: flex;
    /*flex: 1;*/
    margin: 18vh auto 6vh;
    max-width: 680px;
    text-align: center;
    transition: margin .3s;
    max-width: 95vw;
  }
    .main > .locations > li {
      align-items: center;
      cursor: pointer;
      display: flex;
      flex: 1;
      flex-direction: column;
      min-width: 96px;
    }
      .main > .locations > li > .avatar {
        background: #fff center/cover no-repeat;
        border-radius: 40px;
        box-shadow: inset 0 0 0 2px rgba(0,0,0,1), 0 0 0 rgb(0,0,0);
        -webkit-filter: brightness(100%) contrast(90%) opacity(20%) saturate(20%);
        filter: brightness(100%) contrast(90%) opacity(20%) saturate(20%);
        height: 72px;
        position: relative;
        transition: box-shadow .3s, filter .3s;
        width: 72px;
        }
          .main > .locations > li:hover > .avatar {
            box-shadow: inset 0 0 0 1px rgba(0,0,0,.1), 0 0 0 rgb(0,0,0);
            -webkit-filter: brightness(100%) contrast(95%) opacity(60%) saturate(60%);
            filter: brightness(100%) contrast(95%) opacity(60%) saturate(60%);
          }
          .main > .locations > li.selected > .avatar,
          .main > .locations > li.selected:hover > .avatar {
            box-shadow: inset 0 0 0 0 rgb(0,0,0), 0 3px 12px rgba(0,0,0,.15);
            -webkit-filter: none;
            filter: none;
          }
      .main > .locations > li > .label {
        color: rgba(66,74,80,.3);
        margin-top: 8px;
        transition: color .3s;
      }
        .main > .locations > li.selected > .label,
        .main > .locations > li:hover > .label {
          color: rgb(66,74,80);
        }
  .main > .insight {
    flex: 1;
    font-size: 28px;
    line-height: 38px;
    margin: 0 16px;
    max-width: 664px;
    text-align: center;
    transition: margin .3s;
  }
    .main > .insight > .input {
      color: #0088cc;
      font-weight: 700;
      white-space: nowrap;
    }
      .main > .insight > .input.disabled {
        color: inherit;
        -webkit-text-fill-color: #424a50;
      }
      .main > .insight input {
        background-color: transparent;
        border: none;
        color: #0088cc;
        font-size: inherit;
        font-weight: 700;
        outline: none;
        width: 0;
      }
      .main > .insight input:disabled {
        color: inherit;
        -webkit-text-fill-color: #424a50;
      }
    .main > .insight > .details {
      margin-top: 16px;
    }
  .main > .visualization {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0 auto;
    max-width: 664px;
  }
  .main > .checkboxes {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 20px auto auto;
    max-width: 664px;
  }
    .main > .checkboxes > .input {
      align-items: center;
      display: flex;
      flex: 1;
      flex-direction: row;
      flex-wrap: nowrap;
      height: 32px;
      justify-content: flex-start;
      margin: 0 12px 0 16px;
      visibility: hidden;
    }

.sparkline {
  margin: 50px auto 0;
  position: relative;
}
.sparkline_dates {
  align-items: flex-start;
  border-top: 1px solid rgba(0,0,0,.1);
  display: flex;
  flex: 1;
  flex-direction: row;
  padding-top: 10px;
}
  .sparkline_dates > div {
    flex: 1;
    font-size: 11px;
    text-align: center;
  }
.tooltip {
  background-color: rgba(255,255,255,.7);
  color: #000;
  padding: 10px;
  position: absolute;
}
.tooltip > .jqsfield {
  color: inherit;
  font-size: 14px;
}

/* Mid width */
@media only screen
and (max-width : 1023px) {
/*and (max-width : 1159px) {*/
/*and (max-width : 1479px) {*/
  .main > .insight {
    max-width: 500px;
  }
  .main > .visualization {
    max-width: 500px;
  }
  .main > .checkboxes {
    max-width: 500px;
  }
}

/* Mid-small width */
@media only screen
and (max-width : 859px) {
  body.menu-open {
    overflow: hidden;
  }
  .main {
    margin-left: auto;
  }
    .main > h1 {
      font-size: 18px;
      line-height: 36px;
      margin: 8px;
    }
    .main > .locations > li {
      min-width: 90px;
    }
      .main > .locations > li > .avatar {
        height: 64px;
        width: 64px;
      }
      .main > .locations > li > .label {
        font-size: 12px;
      }
    .main > .insight {
      /*margin-top: 40px;*/
    }
    body.menu-open > .main > .tint {
      display: block;
    }
  .menu {
    box-shadow: none;
  }
    body.menu-open .menu {
      box-shadow: 0 0 20px rgba(0,0,0,.2);
    }
}

/* Small width (phones) */
@media only screen
and (max-width : 479px) {
  .menu {
    width: 280px;
  }
    body.menu-closed > .menu {
      left: -100%;
    }
    .menu > header {
      width: 280px;
    }
    .menu > ul:first-of-type {
      margin-top: 48px;
    }
      .menu > ul > li > .input > input,
      .menu > ul > li > .input.date > select {
        padding: 15px 8px;
      }
      .menu > ul > li > .input.date > select:first-child{
        text-align-last: left;
      }
  .main {
    margin-left: auto;
  }
    .main > .locations {
      margin-top: 24px;
    }
      .main > .locations > li {
        min-width: 56px;
      }
        .main > .locations > li > .avatar {
          height: 48px;
          width: 48px;
        }
        .main > .locations > li > .label {
          font-size: 11px;
        }
    .main > .insight {
      font-size: 18px;
      line-height: 26px;
    }
    .sparkline_dates > div {
      overflow: overlay;
    }
    .sparkline_dates > div:nth-of-type(even) {
      color: transparent;
    }
}
