/* Default to phone layout */
body, input, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #424a50;
  font-family: -apple-system, '.SFNSText-Light', '.SFNSDisplay-Regular', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  font-weight: 400;
}
body {
  /*background-color: #049DCA;*/
  background-color: #FCFCFC;
  margin: 0;
  transition: background-color .3s;
}
a {
  text-decoration: none;
  color: rgba(0,136,204,.5);
  transition: color .1s;
}
a:hover {
  color: rgba(0,136,204,1);
  text-decoration: underline;
}
details > summary {
  cursor: pointer;
  transition: all .3s;
}
  details > summary:hover {
    background-color: #fafafa;
  }
  details[open] > summary {
    background: linear-gradient(to bottom, rgba(250,250,250,1) 0%,rgba(250,250,250,0) 100%) 0 -32px no-repeat;
  }
  details[open] > summary:hover {
    /*background: linear-gradient(to bottom, rgba(250,250,250,1) 0%,rgba(250,250,250,0) 100%);*/
    background-position: 0 0;
  }
summary {
  outline: none;
}
table {
  /*margin-top: 48px;*/
}
tbody > tr {
  color: rgba(0,0,0,.6);
}
tbody > tr:nth-of-type(odd) {
  background-color: rgba(0,0,0,.04);
  color: rgba(0,0,0,.8);
}
tbody > tr:hover, tbody > tr:nth-of-type(odd):hover {
  background-color: rgba(0,0,0,.08);
  color: rgb(0,0,0);
  background-color: rgba(0,0,0,.8);
  color: rgb(255,255,255);
}
th, td {
  font-size: 13px;
  padding: 4px 0;
  text-align: center;
  width: 5%;
}
th {
  color: rgba(0,0,0,.3);
  padding-bottom: 8px;
  vertical-align: bottom;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.button {
  background-color: rgba(255,255,255,1);
  border-radius: 4px;
  box-shadow: 0 0 0 1px rgba(0,0,0,.1);
  color: rgb(0,136,204);
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 16px;
  text-transform: uppercase;
  transition: background-color .3s, box-shadow .3s, color .3s;
}
  .button:hover {
    background-color: #fff;
    box-shadow: 0 3px 12px rgba(0,0,0,.15);
    /*color: rgb(255,255,255)*/
  }

.card {
  background-color: #fff;
  border-radius: 10px;
  /*box-shadow: 0 1px 4px rgba(0,0,0,.1);*/
  box-shadow: 0 1px 4px rgba(0,0,0,.1), 0 0 24px rgba(0,0,0,.06);
  margin: 16px auto;
  max-width: 360px;
  position: relative;
  width: 100vw;
  z-index: 2;
}
  .card.mortgage {
    background-color: #049DCA;
    border-radius: 0;
    bottom: 0;
    box-shadow: none;
    color: #fff;
    margin: 0;
    max-width: 100vw;
    min-height: 300px;
    position: fixed;
    top: 0;
    z-index: 1;
  }
    .card.mortgage > .content {
      margin: 0 auto;
      max-width: 360px;
      position: relative;
      top: 130px;
    }
    .card.mortgage .title {
      font-size: 24px;
      font-weight: 600;
      padding: 32px 24px;
    }
    .card.mortgage .item {
      padding: 0 24px 40px;
    }
    .card.mortgage .value {
      font-size: 40px;
      font-weight: 600;
    }
    .card.mortgage .per {
      color: rgba(255,255,255,.8);
      font-size: 18px;
    }
  .card.amoritization > .menu {
    /*border-top: 1px solid rgba(0,0,0,.1);*/
    margin-top: 8px;
  }
    .card.amoritization > .menu > ul {
      padding: 16px;
    }
      .card.amoritization > .menu > ul > li {
        margin: 0;
      }
  .card .tab {
    display: none;
  }
    .card .tab.visible {
      display: block;
    }
  /*.card.totals > header {
    background-color: #fafafa;
    border-radius: 10px 10px 0 0;
    padding: 16px 16px 12px;
    font-size: 18px;
    font-weight: 600;
  }
  .card.totals > .tab {
    padding: 24px 0 16px;
  }
    .card.totals > .tab > li {
      align-items: center;
      display: flex;
      flex: 1;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-end;
      margin: 0 16px 8px;
    }
      .card.totals > .tab > li.hidden {
        display: none;
      }
      .card.totals > .tab > li > .label {
        color: rgba(0,0,0,.8);
        flex: 1;
        /*font-size: 12px;*
        line-height: 16px;
        margin-right: 8px;
      }
      .card.totals > .tab > li > .output {
        color: rgba(0,0,0,.3);
        display: flex;
        overflow: hidden;
        position: relative;
      }
        .card.totals > .tab > li > .output > span:first-of-type {
          padding-right: 4px;
        }
      .card.totals > .tab > li.row-primary {
        border-bottom: 1px solid rgba(0,0,0,.06);
        margin: 0 0 8px;
        padding: 0 16px 8px;
      }
        .card.totals > .tab > li.row-primary > .label {
          font-weight: 700;
        }
        .card.totals > .tab > li.row-primary > .output > span:first-of-type {
          color: rgba(0,0,0,.8);
          font-weight: 700;
        }
      .card.totals > .tab > li.row-secondary {

      }
        .card.totals > .tab > li.row-secondary > .label {
          color: rgba(0,0,0,.8);
        }
        .card.totals > .tab > li.row-secondary > .output > span:first-of-type {
          color: rgba(0,0,0,.8);
        }
      .card.totals > .tab > li.row-tertiary {

      }
        .card.totals > .tab > li.row-tertiary > .label {
          color: rgba(0,0,0,.3);
          padding-left: 16px;
        }
        .card.totals > .tab > li.row-tertiary > .output > span:first-of-type {
          color: rgba(0,0,0,.3);
        }*/
      /**/
  .card > .head {
    align-items: baseline;
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
  }
  .card > .head > header {
    border-radius: 10px 10px 0 0;
    flex: 1 auto;
    font-size: 18px;
    font-weight: 600;
    padding: 16px 16px 12px;
  }
    .card > .head > .action {
      border-radius: 24px;
      color: #0088cc;
      cursor: pointer;
      font-size: 11px;
      font-weight: 700;
      line-height: 16px;
      padding: 8px 12px;
      text-align: right;
      text-transform: uppercase;
      transition: background-color .1s, color .1s;
    }
    .card > .head > .action:last-of-type {
      margin-right: 16px;
    }
      .card > .head > .action:hover {
        background-color: rgba(0,0,0,.04);
      }
    .card.tabbed > .head {
      background-color: #fafafa;
      margin-bottom: 0;
    }
      /*.card.totals > header {
        background-color: #fafafa;
        border-radius: 10px 10px 0 0;
        padding: 16px 16px 12px;
        font-size: 18px;
        font-weight: 600;
      }*/
      .card.totals > .tab {
        padding: 24px 0 16px;
      }
        .card.totals > .tab .row {
          align-items: center;
          border-bottom: 1px solid rgba(0,0,0,.04);
          display: flex;
          flex: 1;
          flex-direction: row;
          flex-wrap: nowrap;
          justify-content: flex-end;
          padding: 8px 16px 8px 32px;
        }
          .card.totals > .tab > .hidden {
            display: none;
          }
          .card.totals > .tab .row .label {
            color: rgba(0,0,0,.8);
            flex: 1;
            line-height: 16px;
            margin-right: 8px;
          }
          .card.totals > .tab .row .output {
            color: rgba(0,0,0,.3);
            display: flex;
            overflow: hidden;
            position: relative;
          }
            .card.totals > .tab .row .output > span:first-of-type {
              color: rgba(0,0,0,.8);
              padding-right: 4px;
            }
          .card.totals > .tab .row.header {
            border-bottom: 1px solid rgba(0,0,0,.1);
            /*margin: 0 0 8px;*/
            padding: 0 16px 8px;
          }
              .card.totals > .tab .row.header .label {
                font-weight: 700;
              }
              .card.totals > .tab .row.header .output > span:first-of-type {
                color: rgba(0,0,0,.8);
                font-weight: 700;
              }
          .card.totals > .tab .row.sub {
            border-bottom: none;
            padding-bottom: 4px;
            padding-top: 0;
          }
              .card.totals > .tab .row.sub:last-of-type {
                padding-bottom: 8px;
              }
              .card.totals > .tab .row.sub .label {
                color: rgba(0,0,0,.3);
                padding-left: 16px;
              }
              .card.totals > .tab .row.sub .output > span:first-of-type {
                color: rgba(0,0,0,.3);
              }
          .card.totals > .tab > details[open] {
            border-bottom: 1px solid rgba(0,0,0,.04);
          }
              .card.totals > .tab > details > summary::-webkit-details-marker {
                /*color: rgba(0,0,0,.2);*/
                display: none;
              }
                  .card.totals > .tab > details > summary > div:before {
                    color: #F00563;
                    color: #0088cc;
                    content: '+';
                    margin: 0 4px 0 -20px;
                    text-align: center;
                    width: 16px;
                  }
                  .card.totals > .tab > details[open] > summary > div:before {
                    content: '-';
                  }
              .card.totals > .tab > details[open] > summary > div {
                border-bottom: none;
                /*margin-bottom: 1px;*/
              }
          .card.totals > .tab > details > summary.row .output > span:first-of-type {
            color: rgba(0,0,0,.8);
          }
      /**/
  .card .card-tabs {
    background-color: #fafafa;
    border-bottom: 1px solid rgba(0,0,0,.1);
    border-radius: 10px 10px 0 0;
    display: flex;
    flex-direction: row;
  }
    .card .card-tabs > li {
      color: rgba(0,0,0,.3);
      cursor: pointer;
      flex: 1 auto;
      font-size: 11px;
      font-weight: 700;
      padding: 16px 8px 12px;
      text-align: center;
      text-transform: uppercase;
      transition: background-color .1s, color .1s;
    }
      .card .card-tabs > li:hover {
        /*background-color: rgba(0,0,0,.03);*/
        color: rgba(0,0,0,.5);
      }
      .card .card-tabs > li.selected {
        /*background-color: transparent;*/
        border-bottom: 4px solid #F00563;
        color: #F00563;
        cursor: default;
      }
  .card .card-title {
    color: #F00563;
    font-weight: 600;
    padding: 24px 0 24px 16px;
    text-transform: uppercase;
  }

.chart-wrapper {
  border-radius: 10px;
  /*display: flex;*/
  height: 250px;
  /*position: relative;*/
  width: 360px;
}
.chart {
  /*flex: 1;*/
  /*margin: 10px;*/
  padding: 10px;
  position: relative;
}

.floater {
  background-color: transparent;
  opacity: 0;
  overflow: auto;
  position: fixed;
  transition: box-shadow .3s, opacity .3s, top .3s, width .3s;
  top: 0;
  width: 100vw;
  z-index: 2;
  -webkit-overflow-scrolling: touch;
}
  .floater.show {
    opacity: 1;
    top: 82px;
  }
  /*.floater > div {
    background-color: #049DCA;
    border-radius: 10px;
    bottom: 0;
    box-shadow: 0 1px 4px rgba(0,0,0,.1);
    color: #fff;
    margin: 8px auto;
    max-width: 100vw;
    width: 360px;
  }*/
      .floater {
        /*background-color: #ffffff;*/
        background-color: #049DCA;
        box-shadow: 0 1px 4px rgba(0,0,0,.1), 0 0 16px rgba(0,0,0,.1);
      }
      .floater > div {
        background-color: transparent;
        border-radius: 10px;
        bottom: 0;
        /*color: rgba(0,0,0,.8);*/
        color: #fff;
        margin: 0 auto;
        max-width: 100vw;
        width: 392px;
      }
  .floater .title {
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
  }
  .floater > div > ul {
    /*border-bottom: 1px solid rgba(0,0,0,.1);*/
    display: flex;
    flex-direction: row;
  }
    .floater > div > ul > li {
      flex: 1;
      padding: 0 16px 12px;
    }
  .floater .value {
    font-size: 32px;
    font-weight: 700;
  }
  .floater .per {
    /*color: rgba(255,255,255,.8);*/
    font-size: 16px;
  }

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
  .footer > .share {
    align-self: center;
    display: flex;
    flex: 1;
    margin: 0 auto 16px;
    text-align: center;
  }
    .footer > .share > li {
      color: rgba(0,0,0,.5);
      line-height: 24px;
      margin-right: 32px;
      text-transform: uppercase;
    }
    .footer > .share > li:last-of-type {
      margin-right: 0;
    }
      .footer > .share > li > a > img {
        display: block;
        -webkit-filter: brightness(100%) contrast(100%) opacity(30%) saturate(0%);
        filter: brightness(100%) contrast(100%) opacity(30%) saturate(0%);
        height: 24px;
        transition: filter .3s;
      }
      .footer > .share > li > a:hover > img {
        -webkit-filter: none;
        filter: none;
      }
  .footer > .legal {
    color: rgba(0,0,0,.3);
    flex: 1;
    font-size: 12px;
    margin: 8px auto;
    text-align: center;
  }
    .footer > .legal > a {
      color: rgba(0,0,0,.3);
      text-decoration: none;
    }
    .footer > .legal > a:hover {
      color: rgba(0,0,0,.5);
    }

.main {
  padding-top: 130px;
  position: relative;
  top: calc(100vh - 304px);
}

.menu > ul {
  display: flex;
  flex: 1;
  flex-direction: column;
}
    .menu > ul > li {
      align-items: center;
      display: flex;
      flex: 1;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-end;
      margin: 0 16px 8px;
    }
      .menu > ul > li.hidden {
        display: none;
      }
      .menu > ul > li.set-top {
        margin-bottom: 0;
      }
        .menu > ul > li.set-top > .input,
        .menu > ul > li.set-top > .input > input {
          border-bottom: 0;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
      .menu > ul > li.set-middle {
        margin-bottom: 0;
      }
        .menu > ul > li.set-middle > .input,
        .menu > ul > li.set-middle > .input > input {
          border-bottom: 0;
          border-radius: 0;
        }
        .menu > ul > li.set-bottom > .input,
        .menu > ul > li.set-bottom > .input > input {
          border-top-left-radius: 0;
          border-top-right-radius: 0;
        }
      .menu > ul > li > .input {
        background-color: rgba(0,0,0,.02);
        border: 1px solid rgba(0,0,0,.08);
        border-radius: 24px;
        color: rgba(0,0,0,.3);
        display: flex;
        line-height: 48px;
        overflow: hidden;
        position: relative;
        width: 160px;
      }
        .menu > ul > li > .input.sheen {
          background-color: transparent;
        }
        .menu > ul > li > .input.sheen:before {
          animation: sheen 3s ease 2s infinite;
          background: linear-gradient(
            -45deg,
            rgba(0, 0, 0, 0.02) 33%,
            rgba(255, 255, 255, 0.03) 40%,
            rgba(255, 255, 255, 0.06) 50%,
            rgba(255, 255, 255, 0.02) 55%,
            rgba(0, 0, 0, 0.02) 67%
          );
          content: '';
          height: 100%;
          left: -300%;
          position: absolute;
          width: 400%;
        }
        @keyframes sheen {
            0% { left: -300%; }
            50% { left: 0%; }
            100% { left: 0%; }
        }
      .menu > ul > li > .input.disabled {
        border-left: 1px solid rgba(0,0,0,0);
      }
      .menu > ul > li > .input.date > select {
        border: 0;
        border-radius: 0;
        color: #0088cc;
        cursor: pointer;
        flex: 1;
        font-weight: 700;
        margin: 0;
        outline: none;
        padding: 10px 12px;
        text-align-last: right;
        transition: color .3s, padding .3s;
        -webkit-appearance: none;
      }
      .menu > ul > li > .input.date > select:first-child {
        padding-right: 0;
      }
      .menu > ul > li > .input.date > select:last-child {
        padding-left: 0;
      }
      .menu > ul > li > .input.date:hover > select {
        color: rgba(0,0,0,.2);
      }
      .menu > ul > li > .input.date:hover > select:hover {
        color: #0088cc;
      }
        .menu > ul > li > .input > input {
          background-color: transparent;
          border: 0;
          border-radius: 24px;
          color: #0088cc;
          font-weight: 700;
          height: 26px;
          margin: 0;
          outline: none;
          padding: 10px 12px;
          position: relative;
          transition: border .3s, box-shadow .3s, padding .3s;
          width: 100%;
        }
          .menu > ul > li > .input > input:hover,
          .menu > ul > li > .input > input:focus {
            background-color: rgba(0,0,0,.03);
          }
        .menu > ul > li > .input > input[type='checkbox'] {
          margin: 0;
          width: auto;
        }
        .menu > ul > li > .input > input:disabled {
          background-color: transparent;
          border: 1px solid rgba(0,0,0,0);
          color: rgba(0,0,0,.5);
          font-weight: inherit;
          -webkit-text-fill-color: rgba(0,0,0,.5);
        }
          .menu > ul > li > .input > input:disabled:hover {
            border: 1px solid rgba(0,0,0,0);
          }
        .menu > ul > li > .input > span {
          position: absolute;
          right: 12px;
        }
        .menu > ul > li > .input > .avatar {
          align-self: center;
          background: #fff center/cover no-repeat;
          border-radius: 20px;
          box-shadow: inset 0 0 0 2px rgba(0,0,0,1);
          height: 40px;
          left: 4px;
          position: absolute;
          transition: box-shadow .3s, filter .3s;
          width: 40px;
        }
          .menu > ul > li > .input > .avatar[src=""] {
            display: none;
          }
          .menu > ul > li > .input > .avatar + input {
            padding-left: 48px;
          }
          .menu > ul > li > .input > .avatar[src=""] + input {
            padding-left: 12px;
          }
      .menu > ul > li > .label {
        color: rgba(0,0,0,.5);
        flex: 1;
        font-size: 12px;
        line-height: 16px;
        margin-right: 8px;
      }
        .menu > ul > li > .label.sub {
          color: rgba(0,0,0,.3);
          font-size: 13px;
        }

.top-bar {
  background-color: #fff;
  /*box-shadow: 0 0 8px rgba(0,0,0,.06);*/
  box-shadow: 0 0 16px rgba(0,0,0,.1);
  display: flex;
  flex-direction: column;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 11;
}
  .top-bar > h1 {
    align-self: center;
    line-height: 0;
    padding: 8px 0 8px;
  }
    .top-bar > h1 > a > img {
      display: block;
      height: 32px;
    }
  .top-bar > .locations {
    display: flex;
    /*flex: 1;*/
    margin: 8px auto;
    max-width: 680px;
    text-align: center;
    transition: margin .3s;
    max-width: 95vw;
    position: relative;
  }
    .top-bar > .locations > li {
      align-items: center;
      cursor: pointer;
      display: flex;
      flex: 1;
      flex-direction: column;
      min-width: 80px;
    }
      .top-bar > .locations > li > .avatar {
        background: #fff center/cover no-repeat;
        border-radius: 40px;
        box-shadow: inset 0 0 0 2px rgba(0,0,0,1);
        -webkit-filter: brightness(100%) contrast(90%) opacity(20%) saturate(20%);
        filter: brightness(100%) contrast(90%) opacity(20%) saturate(20%);
        height: 48px;
        position: relative;
        transition: box-shadow .3s, filter .3s, height .3s, width .3s, opacity .2s;
        width: 48px;
        }
          .top-bar > .locations > li:hover > .avatar {
            box-shadow: inset 0 0 0 1px rgba(0,0,0,.1);
            -webkit-filter: brightness(100%) contrast(95%) opacity(60%) saturate(60%);
            filter: brightness(100%) contrast(95%) opacity(60%) saturate(60%);
          }
          .top-bar > .locations > li.selected > .avatar,
          .top-bar > .locations > li.selected:hover > .avatar {
            box-shadow: inset 0 0 0 0 rgb(0,0,0);
            -webkit-filter: none;
            filter: none;
          }
      .top-bar > .locations > li > .label {
        color: rgba(0,0,0,.3);
        font-size: 10px;
        font-weight: 600;
        margin-top: 8px;
        transition: color .3s, margin .3s;
      }
        .top-bar > .locations > li:hover > .label {
          color: rgba(0,0,0,.5);
        }
        .top-bar > .locations > li.selected > .label {
          color: rgba(0,0,0,.8);
        }
  .top-bar > .locations.collapsed {
    margin: 0 auto;
  }
    .top-bar > .locations.collapsed > li.selected {
      border-bottom: 4px solid #F00563;
    }
    .top-bar > .locations.collapsed > li > .avatar {
      height: 0;
      opacity: 0;
      width: 0;
    }
    .top-bar > .locations.collapsed > li > .label {
      margin: 12px 0 8px;
      transition: color .1s, margin .3s;
    }
      .top-bar > .locations.collapsed > li.selected > .label {
        color: #F00563;
      }




/* vizualization */
  /*.main > .visualization {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 0 auto;
    max-width: 664px;
  }*/
  .main > .checkboxes {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 20px auto auto;
    max-width: 664px;
  }
    .main > .checkboxes > .input {
      align-items: center;
      display: flex;
      flex: 1;
      flex-direction: row;
      flex-wrap: nowrap;
      height: 32px;
      justify-content: flex-start;
      margin: 0 12px 0 16px;
      visibility: hidden;
    }
.prompt {
  align-items: center;
  background-color: rgba(0,0,0,.5);
  display: flex;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 11;
}
  .prompt > .box {
    background-color: #fff;
    border-radius: 10px;
    margin: 0 auto;
    width: 360px;
  }
    .prompt > .box > .title {
      font-size: 18px;
      font-weight: 700;
      margin: 16px;
    }
    .prompt > .box > .body {
      font-size: 14px;
      margin: 0 16px 8px;
    }
    .prompt > .box > ul {
      /*display: flex;*/
      /*flex-direction: row;*/
      float: right;
      /*justify-content: flex-end;*/
      margin: 0 12px;
    }
      .prompt > .box > ul > li {
        color: #0088cc;
        cursor: pointer;
        float: left;
        font-size: 11px;
        font-weight: 700;
        line-height: 16px;
        padding: 16px 12px;
        text-align: right;
        text-transform: uppercase;
        transition: color .1s;
      }
        .prompt > .box > ul:hover > li {
          color: rgba(0,0,0,.3);
        }
        .prompt > .box > ul > li:hover {
          color: #0088cc;
        }

/* Xsmall width (tiny phones) */
@media only screen
and (max-width : 359px) {
  .main > .card {
    /*width: 100vw;*/
  }
}

/* Medium width (phablet) */
@media only screen
and (min-width : 480px) {
  body {
    background-color: #fcfcfc;
  }
      .floater {
        background-color: transparent;
        box-shadow: none;
      }
      .floater > div {
        background-color: #049DCA;
        box-shadow: 0 1px 4px rgba(0,0,0,.1);
        color: #ffffff;
        margin: 8px auto;
        width: 360px;
      }
      .floater .per {
        color: rgba(255,255,255,.8);
      }
  .main {
    top: auto;
  }
    .main > .card.mortgage {
      border-radius: 10px;
      bottom: auto;
      box-shadow: 0 1px 4px rgba(0,0,0,.1);
      margin: 16px auto;
      position: unset;
      top: auto;
      transition: opacity .3s;
      width: 360px;
    }
      .main > .card.mortgage > .content {
        top: auto;
      }
}

/* Large width (desktop) */
@media only screen
and (min-width : 860px) {
  body {
    background-color: #fcfcfc;
  }
  .main {
    top: auto;
  }
    .main > .card {
      margin: 16px 0 16px 352px;
    }
      .main > .card.mortgage {
        box-shadow: 0 1px 4px rgba(0,0,0,.1);
        margin: 16px 0 16px 352px;
        position: unset;
        width: 360px;
      }
      .main > .card.edit {
        background-color: transparent;
        border-radius: 0;
        bottom: 0;
        box-shadow: none;
        left: 0;
        margin: 0;
        overflow: auto;
        position: fixed;
        top: 130px;
        width: 320px;
        z-index: 3;
      }
    .card.edit > .head > header {
      background-color: transparent;
      padding-left: 24px;
      /*border-radius: 10px 10px 0 0;
      padding: 16px 16px 12px;
      font-size: 18px;
      font-weight: 600;*/
    }
    .card > .head > .action:last-of-type {
      margin-right: 0;
    }
  .floater > div {
    margin-left: 352px;
  }
  .footer > .share,
  .footer > .legal {
    justify-content: center;
    margin-left: 352px;
    width: 360px;
  }
  .menu {
    /*margin: 130px 0 0 0;*/
  }
    .menu > ul > li {
      margin: 0 0 8px 24px;
    }
      .menu > ul > li > .input {
        line-height: 36px;
      }
      .menu > ul > li > .input > input {
        border-radius: 18px;
        height: 14px;
        padding: 10px 12px;
        transition: border .3s, box-shadow .3s, padding .3s;
      }
      .menu > ul > li > .input > .avatar {
        border-radius: 14px;
        height: 28px;
        left: 4px;
        width: 28px;
      }
        .menu > ul > li > .input > .avatar + input {
          padding-left: 36px;
        }
}

/* Xlarge width */
@media only screen
and (min-width : 1064px) {
  .main > .card,
  .main > .card.mortgage {
    margin: 16px auto;
  }
  .floater > div {
    margin-left: auto;
  }
  .footer > .share,
  .footer > .legal {
    margin-left: auto;
    width: 360px;
  }
}
